.btn {
    user-select: none;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-weight: 400;
    border-radius: 2px;    
    background: $btn-color;
    transition: all 500ms ease;
    cursor: pointer;
    color: $primary-color;
    padding: 10px 25px;
    outline: none;
    border: none;

    &:hover {        
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 2px 2px rgba(0, 0, 0, 0.21);
    }

    &:active {
        background: linear-gradient(0deg, #0DBAFF, #0DBAFF);
        box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
    }
}