.main {
  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__wrapper {
    position: relative;
    width: 300px;
    display: flex;
    justify-content: space-between;
  }

  &__range {
    position: absolute;
    width: 205px;
    bottom: -7px;
  }

  &__range-percent {
    position: absolute;
    width: 205px;
    bottom: -7px;
  }

  &__wrapper-radio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__sum,
  &__cost {
    padding: 10px;
    cursor: pointer;
  }

  &__sum {
    &.active {
      background-color: green;
      .main__addition {
          display: none;
        
      }
    }
  }

  &__cost {
    &.active {
      background-color: green;
      .main__addition {
          display: block;
      
      }
    }
  }

  &__button {
    display: block;
    margin: 10px auto 0;
  }

  &__addition {
    display: none;
    &.show {
      display: block;
    }
  }
}

.result {
  &__row {
    margin-top: 10px;
  }
}